<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="container-personalizado card p-4 shadow" style="min-width: 300px; max-width: 400px; width: 100%;">
    <h4 class="text-center mb-4">LOGIN</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <input id="login" name="login" class="" formControlName="login" placeholder="Login" required>
      </div>

      <div class="mb-3">
        <input id="password" name="password" type="password" class="" formControlName="password" placeholder="Senha" required>
      </div>

      <div class="text-center mt-3">
        <a routerLink="/reset-password">RECUPERAR SENHA</a><br><br>
      </div>

      <div class="row">
        <div class="col"><button class="btn btn-personalizado" type="submit"
            [disabled]="loginForm.invalid">Login</button></div>
        <div class="col"><button routerLink="/register" class="btn btn-personalizado">Criar uma conta</button></div>
      </div>



    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
</div>