<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="min-width: 300px; max-width: 400px; width: 100%;">
    <h6 class="text-center mb-4">CADASTRO DE USUÁRIOS</h6>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email">
      </div>

      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" formControlName="login" class="form-control" id="login">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" formControlName="password" class="form-control" id="password">
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Repetir Senha</label>
        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
        <div *ngIf="registerForm.errors?.['passwordMismatch']" class="text-danger mt-1">
          As senhas não coincidem.
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrar</button>
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>